.btn-green {
    background-color: green;
    color: #fff;
}
.btn-yellow {
    background-color: yellow;
}
.btn-blue {
    background-color: blue;
    color: #fff;
}
.btn-black {
    background-color: black;
    color: #fff;
}
.btn-red {
    background-color: red;
    color: #fff;
}